@using EPiServer.Shell.Web.Mvc.Html
@model EPi.Libraries.Localization.Models.TranslationContainer

<div class="epi-containerLayout">
    <div class="epi-formsWidgetWrapper">
        @Html.Translate("/admin/editcontenttype/propertymissingonmodel"):
        @if (Model.MissingValues.Count == 0)
        {
            <strong>-</strong>
        }


        <ul>
            @{
                foreach (string missingValue in Model.MissingValues)
                {
                    <li>@missingValue</li>
                }
            }
        </ul>
    </div>
</div>